<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.Mapper.ClientMapper">

    <!--  查询sys_client表  -->
    <select id="getClient" parameterType="ClientEntity" resultType="int">
        SELECT count(*)
        FROM sys_client
        WHERE client_appid=#{client_appid}
        AND client_appkey=#{client_appkey}
    </select>


</mapper>
