<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.db.Mapper.UserMapper">

    <!--  查询所有记录  -->
    <select id="selectAll" resultType="UserEntity">
        SELECT * FROM user
    </select>
    <!-- 通过ID查询 -->
    <select id="selectById" parameterType="UserEntity" resultType="UserEntity">
        select * from sys_users WHERE user_id=#{user_id}
    </select>
    <!-- 验证user_login唯一 -->
    <select id="isDistinct" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM sys_users WHERE user_login=#{user_login}
    </select>
    <!-- 新增 -->
    <insert id="addUser" parameterType="UserEntity">

        <selectKey resultType="java.lang.Integer"  keyProperty="user_id" order="BEFORE">
            SELECT  next value for MYCATSEQ_GLOBAL
        </selectKey>
        INSERT INTO sys_users(user_id,user_login,user_pwd,user_regdate)
        VALUES (#{user_id},#{user_login},md5(#{user_pwd}),now())
    </insert>

    <!-- 批量新增 -->
    <insert id="addUsers" parameterType="java.util.List">
        INSERT INTO user(name,password) VALUES
        <foreach collection="list" item="u" separator=",">
            (#{u.name},#{u.password})
        </foreach>
    </insert>

    <!-- 单条更新-->
        <update id="ediUser" parameterType="UserEntity">
            UPDATE javatest.user set name = #{name} WHERE id=#{id}
        </update>

    <!-- 批量更新 -->
    <update id="editMuti" parameterType="List">
        update javatest.user set name=
        case id
          when 0 then 'abc'
          else CONCAT('大号',id)
        END

        WHERE id in(-1
        <foreach collection="list" item="u">
            ,#{u.id}
        </foreach>
        )
    </update>

</mapper>
